{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid page">
        <a href="{{ path('issues_overview') }}" class="back-navigation">
            <span class="material-icons back-arrow">west</span>
            <span>Terug</span>
        </a>

        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
