.icon-input-box{
  display: flex;
  align-items: center;
  width: fit-content;
  border: 2px solid $red;
  border-radius: 5px;
  margin-bottom: 25px;

  .text-input{
    border: none !important;
  }

  .material-icons{
    padding: 10px;
    color: $gold !important;
  }
}

.input-box{
  margin-bottom: 20px;
}

.text-input{
  background: none;
  border: 2px solid $red;
  outline: none;
  padding: 10px 0 11px 17px;
  font-family: muli, sans-serif;
  font-size: 16px;
  width: 300px;
  max-width: 100%;
  border-radius: 5px;

  &--hover{
    border: none;
    border-bottom: 3px solid $red;
    padding: 0 0 10px 0;
    border-radius: 0;
  }
}

.issue-title-input{
  font-size: 28px;
  margin-bottom: 60px;
  width: 600px;
}

label{
  display: none;
}

.input-label{
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}

form:is(.known-issue-edit){
  .text-input--hover{
    width: 400px;
  }
}

#known_issue_content, #known_issue_keywords{
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.login-screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-carousel{
  display: flex;
  border-radius: 5px;
  background: white;
  padding: 25px 45px 30px 45px;
  overflow: hidden;
  width: 370px;
  max-width: 90vw;
}

.login-box{
  display: flex;
  width: 100%;
  transition: transform 600ms $smoothease;
}

.login-slider-box{
  min-width: 100%;
  margin-right: 100px;

  .icon-input-box{
    width: 99%;
  }
}

.login-title{
  display: block;
  font-size: 28px;
  margin-bottom: 30px;
}

.login-notification{
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.register-linker{
  color: $red;
  font-weight: 500;
  cursor: pointer;
}

.login-flash-message{
  position: absolute;
  max-width: 400px;
  word-break: break-word;
}
