@import 'vars';
@import 'misc';
@import 'form';
@import 'ql-editor';
@import 'animations';

body{
  margin: 0;
  padding: 0;
  font-family: muli, sans-serif !important;
  font-size: 18px;
  color: $black;
}

.issues-dashboard{
  word-break: break-all;
}

.issue-box{
  width: 800px;
  max-width: 100%;
  height: unset;
  margin: 0 auto 85px auto;
  transition: all 400ms $ease;
  overflow: hidden;

  .main-button--small{
    margin-left: auto;
    margin-right: 0;
  }
}

.issue-header{
  background: $grey;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .material-icons{
    color: $red !important;
    font-size: 30px;
    cursor: pointer !important;
    user-select: none;
  }
}

.issue-title{
  margin: 0 !important;
  user-select: none;
}

.issue-editor{
  border-radius: 5px !important;
  border: 2px solid $gold !important;
}

.issue-content-box{
  width: calc(100% - 40px);
  max-height: 220px;
  margin: 0 auto 10px auto;
  overflow: hidden;
  word-break: break-word;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    background: linear-gradient(180deg, transparent 0%, transparent 70%, white 100%);
  }
}

.centered-text{
  text-align: center;
}

.back-navigation{
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover{
    .back-arrow{
      transform: translateX(-10px);
    }
  }
}

.back-arrow{
  font-size: 35px !important;
  color: $red;
  margin-right: 10px;
  pointer-events: none;
  transition: transform 300ms $ease;
}

.issue-wrapper{
  width: 80%;
  margin: 0 auto;
}

.issue-edit-title{
  font-size: 32px;
  margin-bottom: 80px;
}

.flash-message{
  display: flex;
  color: $green;
  font-size: 17px;
  position: absolute;
  z-index: 100;
  transform: scale(1) translateX(-50%);
  transform-origin: center;
  top: 40px;
  left: 50%;

  &--alert{
    color: $red;
  }
}
